

.selected {
  background-color: #dddddd;
}

.not-active {
  opacity: 0.5;
  color: black;
}

.not-active:hover {
  opacity: 0.5;
  color: black;
}

app-file-item {
  display: block;
  width: auto;
}
