<section>
  <header>
    Workspace
  </header>
  <div>
    <app-file-item *ngFor="let file of fileExplorerItems"
                   [file]="file"
                   (onSelected)="onSelectItem($event)"
                   (onUnselected)="onUnselectItem($event)"
                   (onDelete)="deleteFile($event)"
    ></app-file-item>
  </div>
  <footer>
    <input #fileInput hidden="true" type="file" name="flue" accept="*/*" (change)="onFileSelected($event)"/>
    <mat-icon matTooltip="Upload file" (click)="fileInput.click()">upload</mat-icon>
  </footer>
</section>
