
<h1>Java</h1>
<input type="file" name="flue" accept="*/*" (change)="onFileSelected($event)" />
<input type="button" name="upload" value="Upload Jar" (click)="uploadFile()"  />

<h1>Workspace</h1>
<ul class="files">
  <li *ngFor="let file of files">
    <span class="file">{{file}}</span>
  </li>
</ul>


<h1>Glues</h1>
<ul class="glues">
  <li *ngFor="let glue of glues">
    <span class="glue">{{glue}}</span>
  </li>
</ul>


<h1>Editeur</h1>
<textarea class="editor"></textarea>

<h1>Console</h1>
<div class="terminal">
  <pre>$</pre>
</div>
