
.terminal {
  position: relative;
  border-radius: 6px;
  background-color: #393a34;
  height: 100%;
  white-space: normal;
}

.content {
  overflow: auto;
  flex-direction: column-reverse;
  height: 100%;
}

.terminal pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: white;
  padding: 0 2rem 1rem 2rem;
  margin: 0;
  height: 1pc;
  white-space: normal;
}
