<div [class.selected]="file!.selected">
  <div>
    <div class="file" *ngIf="!file!.isDirectory">
      <mat-icon [matMenuTriggerFor]="fileMenu" aria-hidden="false" aria-label="File" *ngIf="!file!.isDirectory"
                (click)="select()">insert_drive_file
      </mat-icon>
      <span (click)="select()" [matMenuTriggerFor]="fileMenu">{{file!.name}}</span>
    </div>
    <div class="directory" *ngIf="file!.isDirectory">
      <mat-icon class="open" aria-hidden="false" aria-label="Open" *ngIf="file!.isDirectory && !file!.showContent"
                (click)="showOrHideDirectoryContent()">chevron_right
      </mat-icon>
      <mat-icon class="close" aria-hidden="false" aria-label="Close" *ngIf="file!.isDirectory && file!.showContent"
                (click)="showOrHideDirectoryContent()">expand_more
      </mat-icon>
      <mat-icon [matMenuTriggerFor]="directoryMenu" aria-hidden="false" aria-label="Directory" *ngIf="file!.isDirectory"
                (click)="select()">folder
      </mat-icon>
      <span (click)="select()" [matMenuTriggerFor]="directoryMenu">{{file!.name}}</span>
    </div>
  </div>
  <div>
    <div class="directory-content" *ngIf="file!.isDirectory && file!.showContent">
      <app-file-item class="subfile" *ngFor="let subfile of file!.files"
                     [file]="subfile"
                     (onDelete)="onDeleteEvent($event)"
                     (onUpdate)="onUpdateEvent($event)"
                     (onUpload)="onUploadEvent($event)"
      ></app-file-item>
    </div>
  </div>
</div>

<mat-menu #fileMenu="matMenu">
  <button mat-menu-item (click)="open()">
    <mat-icon>download</mat-icon>
    <span>Download</span>
  </button>
  <button *ngIf="file!.isRoot == false" mat-menu-item (click)="rename()">
    <mat-icon>create</mat-icon>
    <span>Rename</span>
  </button>
  <button *ngIf="file!.isRoot == false" mat-menu-item (click)="delete(file!)">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>

<mat-menu #directoryMenu="matMenu">
  <button mat-menu-item (click)="fileInput.click()">
    <mat-icon>upload</mat-icon>
    <span>Upload</span>
  </button>
  <button *ngIf="file!.isRoot == false" mat-menu-item (click)="rename()">
    <mat-icon>create</mat-icon>
    <span>Rename</span>
  </button>
  <button mat-menu-item (click)="makeDirectory()">
    <mat-icon>create_new_folder</mat-icon>
    <span>Create directory</span>
  </button>
  <button *ngIf="file!.isRoot == false" mat-menu-item (click)="delete(file!)">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
<input #fileInput hidden="true" type="file" name="flue" accept="*/*" (change)="onFileSelected($event)"/>

