
.file,
.directory {
  display:table;
  overflow-x: hidden;
  font-size: 1rem;
}
.file {
  #padding-left: 1.5pc;
}
.file mat-icon {
  margin-left: 35px;
}

.directory .open,
.directory .close {
  margin-left: 5px;
}

.file span,
.directory span {
  display:table-cell;
  vertical-align:middle;
  padding-left: 0.5pc;
  cursor: default;
  height: 30px;
}

.open:hover,
.close:hover {
  line-height: 2rem;
  color: black;
}

.directory-content {
  margin-left: 24px;
}


.mat-icon {
  line-height: 2rem;
  color: rgb(71, 71, 71)
}

.selected {
  background-color: #dddddd;
}

.file mat-icon,
.directory mat-icon,
.file span,
.directory span {
  display: inline;
}

.file span,
.directory span {
  padding-bottom: 15px;
  width: auto;
  white-space:nowrap;
}
