
.file,
.directory {
  display:table;
  overflow-x: hidden;
  font-size: 1rem;
}
.file {
  padding-left: 1.5pc;
}

.file span,
.directory span {
  display:table-cell;
  vertical-align:middle;
  padding-left: 0.5pc;
  cursor: default;
}

.directory .open,
.directory .close {
  margin-right: 0px;
  margin-left: 0px;
}

.open:hover,
.close:hover {
  line-height: 2rem;
  color: black;
}

.directory-content {
  margin-left: 24px;
}


.mat-icon {
  line-height: 2rem;
  color: rgb(71, 71, 71)
}

.selected {
  background-color: #dddddd;
}
