
.toolbar {
  background-color: lightgreen;
}

.bottom-bar {

}

.bottom-bar mat-tab-group {
  width: 100%;
}

.mat-tab-group {
  height: 100%;
}


.editor {
  background-color: #cccccc;
}

.explorer {
  background-color: #cccccc;
}

.explorer {
  overflow: auto;
}

.explorer app-file-explorer {
  width: 100%;
}

.explorer app-file-explorer {
  height: 100%;
}

app-feature-editor {
  height: 100%;
  width: 100%;
}

