<mat-grid-list cols="10" class="main" rowHeight="33.25%">
  <mat-grid-tile colspan="2"
                 class="left-panel"
                 rowspan="2"
  >
    <section>
      <header>
          Workspace
      </header>
      <div>
        <app-file-explorer [files]="files"
                           (fileUploaded)="refresh()"
                           (filesDeleted)="refresh()"
                           (filesUpdated)="refresh()"
                           *ngIf="files"
        >
        </app-file-explorer>
      </div>
      <footer>

      </footer>
    </section>
    <span *ngIf="!files">
      Loading workspace...
    </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="8" class="editor" rowspan="2">
    <app-feature-editor
                        *ngIf="editorEnabled && glues"
                        (onTestChange)="onTestChange($event)"
                        (onLanguageChanged)="onLanguageChanged($event)"
                        [test]="test"
                        [language]="editorLanguage"
                        [glues]="glues">
    </app-feature-editor>
    <span *ngIf="!editorEnabled || !glues">
      Loading editor...
    </span>
  </mat-grid-tile>
  <mat-grid-tile  class="bottom-bar" colspan="10" rowspan="1">
    <mat-tab-group class="mat-tab-fill-height">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">terminal</mat-icon>
          <span class="tab-label">Console</span>
        </ng-template>
        <app-console>
        </app-console>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">settings_applications</mat-icon>
          <span class="tab-label">Settings</span>
        </ng-template>
        <table class="settings" *ngIf="test.settings">
          <caption></caption>
          <tbody>
            <tr>
              <td>
                <app-runner-settings [settings]="test.settings" type="environment" title="Environment variables">
                </app-runner-settings>
              </td>
              <td>
                <app-runner-settings [settings]="test.settings" type="property" title="Java Properties">
                </app-runner-settings>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">menu_book</mat-icon>
          <span class="tab-label">Gherkin dictionary</span>
        </ng-template>
        <app-glue-dictionary [glues]="glues">
        </app-glue-dictionary>
      </mat-tab>
      <mat-tab *ngIf="htmlReportUrl">
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">library_books</mat-icon>
          <span class="tab-label">Report</span>
        </ng-template>
        <app-html-report [htmlReportUrl]="htmlReportUrl">
        </app-html-report>
      </mat-tab>
    </mat-tab-group>
  </mat-grid-tile>
</mat-grid-list>




