
.main {
  height: 100vh;
  display: block;
}

.toolbar {
  background-color: lightgreen;
}

.bottom-bar mat-tab-group {
  width: 100%;
}

.mat-tab-group {
  height: 100%;
}


.editor {
  background-color: #e1e1e1;
}

.explorer {
  background-color: #e1e1e1;
}

.explorer {
  overflow: auto;
}

.explorer app-file-explorer {
  width: 100%;
}

.explorer app-file-explorer {
  height: 100%;
}

app-feature-editor {
  height: 100%;
  width: 100%;
}

.settings td {
  vertical-align: top;
}


.tab-icon {
  margin-right: 10px;
}
