

<h1>Glues</h1>
<ul class="glues">
  <li *ngFor="let glue of glues">
    <span class="glue">{{glue}}</span>
  </li>
</ul>


<mat-grid-list cols="4">
  <mat-grid-tile colspan="1" class="explorer" *ngIf="files.length > 0">
    <app-file-explorer [files]="files[0].files" (fileUploaded)="refresh()"></app-file-explorer>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" class="editor">
    <app-feature-editor (onChange)="onFeatureEditorChange($event)"></app-feature-editor>
  </mat-grid-tile>
  <mat-grid-tile colspan="4" class="bottom-bar">
    <mat-tab-group class="mat-tab-fill-height">
      <mat-tab label="Console">
        <app-console [featureRunnerResponse]="featureRunnerResponse">
        </app-console>
      </mat-tab>
      <mat-tab label="Rapport HTML" *ngIf="featureRunnerResponse">
        <app-html-report [featureRunnerResponse]="featureRunnerResponse">
        </app-html-report>
      </mat-tab>
    </mat-tab-group>
  </mat-grid-tile>
</mat-grid-list>




