<section>
  <mat-form-field floatLabel="never" appearance="outline">
    <input type="search" placeholder="Search" aria-label="Number" [(ngModel)]="filter" matInput (change)="search()"/>
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
  <table>
    <thead>
    <tr>
      <td>Type</td>
      <td>Expression</td>
      <td>Class</td>
      <td>Method</td>
      <td>Args</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let glue of gluesFiltered">
      <td>{{glue.type}}</td>
      <td>{{glue.value}}</td>
      <td>{{glue.clazz}}</td>
      <td>{{glue.method}}</td>
      <td>{{glue.arguments}}</td>
    </tr>
    </tbody>
  </table>
</section>


