section {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead {
  font-weight: bold;
}

tr:nth-child(even) {background: #e1e1e1}
tr:nth-child(odd) {background: white}
