<section>
  <header>
    <span>Gherkin Editor</span>
    <span>|</span>
    <span>
       <mat-icon name="start" *ngIf="!running" aria-hidden="false" aria-label="start" (click)="executeFeature()">play_circle_outline</mat-icon>
       <mat-icon name="stop" *ngIf="running" aria-hidden="false" aria-label="stop">stop</mat-icon>
    </span>
  </header>


  <div
    class="app-ace-editor content"
    #editorDiv
  ></div>

  <footer>
    <span *ngIf="state">
      Tests status :
    </span>
    <span *ngIf="state">
      <mat-icon name="success" *ngIf="state.match('success')" aria-hidden="false" aria-label="success">check</mat-icon>
      <mat-icon name="failure" *ngIf="state.match('failure')" aria-hidden="false" aria-label="failure">close</mat-icon>
    </span>
    <span *ngIf="state">|</span>
    <span *ngIf="state">
      Scenarios run: {{testResult.scenarioFailures}},
      Failures: {{testResult.scenarioFailures}}
    </span>
    <span *ngIf="state">|</span>
    <span *ngIf="state">
      Steps run: {{testResult.stepRun}},
      Failures: {{testResult.stepFailures}},
      Skipped: {{testResult.stepSkippeds}}
    </span>
  </footer>
</section>



