
section {
  display: flex;
  flex-flow: column;
  height: 100%;
}

header {
  border-bottom : 1px solid black;
  height: 2rem;
  vertical-align: middle;
  line-height: 2rem;
}

header span {
  height: 2rem;
  float: left;
  display: block;
  padding-left: 0.5rem;
}

.content {
  flex: 1;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-flow: column;
  height: 100%;
}

footer {
  height: 2rem;
  border-top : 1px solid black;
  vertical-align: middle;
  line-height: 2rem;
}

footer span {
  height: 2rem;
  float: left;
  display: block;
  padding-left: 0.5rem;
}


mat-icon {
  display: block;
  margin-top: 3px;
}

mat-icon[name=start]{
  color: green;
}

mat-icon[name=stop]{
  color: darkred;
}

mat-icon[name=start],
mat-icon[name=stop]{
  opacity: 0.6;
}
mat-icon[name=start]:hover,
mat-icon[name=stop]:hover{
  opacity: 1;
}

.line {
  width: 100%;
  cursor: text;
}
.blank {
  flex: 1;
  cursor: text;
}

.line input {
  width: 90%;
  background-color: transparent;
  color: white;
  border: none;
}
.line input:focus {
  border: none;
  outline: none;
}


.editor {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  outline: none;
  overflow-y: auto;
  padding-left: 48px;
  counter-reset: line;
}

.editor div {
  display: block;
  position: relative;
  white-space: pre-wrap;
}

.editor div::before {
  content: counter(line);
  counter-increment: line;
  position: absolute;
  right: calc(100% + 16px);
  opacity: 0.5;
}

.mat-icon {
  padding-top: 2px;
}
.mat-icon[name="success"] {
  color: #00a40b;
}
.mat-icon[name="failure"] {
  color: #d78f00;
}
.mat-icon[name="error"] {
  color: #de0000;
}
