<section>
  <header>
    <span>Gherkin Editor</span>
    <span>|</span>
    <span>
       <mat-icon name="start" [class.disabled]="" *ngIf="!running" matTooltip="Run tests" aria-hidden="false" aria-label="start" (click)="run()">play_arrow</mat-icon>
       <mat-icon name="stop" *ngIf="running" matTooltip="Stop tests" aria-hidden="false" aria-label="stop">stop</mat-icon>
    </span>
    <span>|</span>
    <span>
      <mat-select>
        <mat-option *ngFor="let lang of languages" [value]="languageSelected" (selectionChange)="onLanguageChange($event)">
          {{lang}}
        </mat-option>
      </mat-select>
    </span>
  </header>


  <div
    class="app-ace-editor content"
    #editorDiv
  ></div>

  <footer>
    <span *ngIf="test">
      Tests status :
    </span>
    <span *ngIf="test!.state">
      <mat-icon name="success" matTooltip="Success" *ngIf="test!.state!.match('success')" aria-hidden="false" aria-label="success">check</mat-icon>
      <mat-icon name="failure" matTooltip="Failure" *ngIf="test!.state!.match('failure')" aria-hidden="false" aria-label="failure">warning</mat-icon>
      <mat-icon name="error" matTooltip="Error" *ngIf="test!.state!.match('error')" aria-hidden="false" aria-label="error">error_outline</mat-icon>
    </span>
    <span *ngIf="testResult">|</span>
    <span *ngIf="testResult">
      Scenarios run: {{testResult.scenarioRun}},
      Failures: {{testResult.scenarioFailures}}
    </span>
    <span *ngIf="testResult">|</span>
    <span *ngIf="testResult">
      Steps run: {{testResult.stepRun}},
      Failures: {{testResult.stepFailures}},
      Skipped: {{testResult.stepSkippeds}}
    </span>
  </footer>
</section>



